<div class="row">
  <a class="btn btn-primary postButton span3 pull-left" type="button" href="/post/new">Post what you think</a>
  <div class = "search_container span4 pull-right">
    <form method="post" action="/post/result">
      <input name= "title" class ="search_box" type="text" name="search_box" placeholder ="Search Post" style="height : 19px"></input>
      <input type="submit" value = "Search" class="search_button btn-medium btn-primary"/>
      <div class="clear-fix"></div>
    </form>
  </div>
</div>
<h3 class = "postHeading"> What People Say !! </h3>
<ul class = "postList">
  <% @posts.each do |post| %>
    <li>
      <a href ="/post/<%=post["id"]%>"> <%= post["title"] %> : </a>
      <span class = "contentPost" /post/<%=post["id"]%>> <%= post["content"] %> </span>
      <a href = "/post/<%=post["id"]%>" class="links"><i class="icon-comment"></i> Comment </a>
      <a href = "/post/<%=post["id"]%>/edit" class="links"><i class="icon-edit"></i> Edit </a>
      <a href = "/post/<%=post["id"]%>/destroy" class="links" onclick = "return promptConfirm();"><i class="icon-trash"></i>Delete </a>
    </li>
  <% end %>
</ul>