<% @title="Post #{@post.first["id"]}" %>
<div class="row">
  <a class="btn btn-primary postButton span3 pull-right" type="button" href="/post/new">Post what you think</a>
  <div class="span8">
    <a href="/post/<%=@post.first["id"]%>" class = "postTitle"> <%= @post.first["title"] %> </a>
    <br>
    <span class = "postContent"  "/post/<%=@post.first["id"]%>"> <%= @post.first["content"] %> </span>
    <div class = "commentBox">
    <form method="post" name ="comment_form" action="/post/<%=@post.first["id"]%>/create_comment" onsubmit = "return validateShow();">
      <textarea name = "comment" type ="text" placeholder = "Comment here"></textarea></br>
      <input class = "btn btn-primary btn-medium searchButton"  type= "submit" value="comment"></input>
    </form>
  </div>
  <ul class = "commentList">
    <% @comment.each do |comment| %>
      <li>
        <span><%= comment["comment"] %> </span>
      </li>
    <% end %>
  </ul>
</div>